h1, p {
    margin: 0;
}

.mt-mb-12 {
    margin: 12px 0;
}

.img-cover {
    width: 100%;
    height: 50%;
}

.image-full-width {
    width: 100%;
    height: auto;
}

.news-title-container {
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.news-title-container h1 {
    margin-bottom: 10px;
}

.news-content-container {
    height: min-content;
    margin: 20px 0 40px;
    padding: 28px 64px;
    background-color: #ececec;
}

.title-long,
.title-main,
.title-sub {
    line-height: normal;
    letter-spacing: 0.05em;
}

.title-long {
    font-size: 40px;
}

.title-main {
    font-size: 62px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title-sub {
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

.content-text {
    font-size: 16px;
    line-height: 1.6;
}

.three-items-on-row {
    margin: 40px 0;
    justify-content: space-between;
    align-items: center;
}

.three-items-on-row img {
    width: 34%;
    height: auto;
}

.three-items-on-row p {
    width: 30%;
    padding: 0 12px 0 0;
}

@media (max-width: 749px) {
    .sm-w-90 {
        width: 90%;
        margin: 0 auto;
    }

    .title-main {
        font-size: 40px;
    }

    .title-long {
        font-size: 32px;
    }

    .title-sub {
        font-size: 24px;
    }

    .news-title-container {
        text-align: left;
    }

    .news-content-container {
        padding: 20px 24px;
    }

    .three-items-on-row {
        flex-direction: column;
    }

    .three-items-on-row img {
        width: 100%;
        height: auto;
    }

    .three-items-on-row p {
        width: 100%;
    }
}

@media (min-width: 749px) and (max-width: 1199px) {
    .sm-w-90 {
        width: 90%;
        margin: 0 auto;
    }

    .title-main {
        font-size: 40px;
    }

    .title-sub {
        font-size: 24px;
    }

    .news-content-container {
        padding: 20px 24px;
    }

    /* .three-items-on-row {
        flex-direction: column;
    }

    .three-items-on-row img {
        width: 100%;
        height: auto;
    }

    .three-items-on-row p {
        width: 100%;
    } */
}