/* PC */
@media (min-width: 64rem) {
    .navbar__dropdown-column {
        width: 250px;
    }

    #mobile-nav {
        display: none;
    }

    .feedback__item {
        width: 260px;
        min-width: 30%;
    }
}

/* Tablet */
@media (min-width: 46.25rem ) and (max-width: 63.938rem) {
    #mobile-nav {
        display: none;
    }

    .navbar__dropdown-column {
        padding-left: 40px;
    }

    .tablet-hide {
        display: none;
    }

    .navbar__list {
        margin-left: -50px;
    }

    .slogan__item {
        width: 50%;
    }

    .feedback__item {
        width: 70%;
        height: 210px;
        margin: 0 auto;
        margin-bottom: 24px;
    }

    .feedback__content {
        height: 110px;
    }

    /* News */
    .sm-w-90 {
        width: 90%;
        margin: 0 auto;
    }

    .title-main {
        font-size: 40px;
    }

    .title-sub {
        font-size: 24px;
    }

    .news-content-container {
        padding: 20px 24px;
    }

    .section {
        width: 50%;
        padding: 0 8px 0 0;
        margin: 12px 0;
    }

    .modal-content {
        width: 60%;
    }

    .btn-send-fb {
        margin-top: 30px;
    }
    /* End News */
}

/* Mobile */
@media (max-width: 46.188rem) {
  .topbar {
      display: none;
  }
  .navbar {
      display: none;
  }

  .body__background {
      display: none;
  }
  
  .slogan__item {
      width: 100%;
  }

  .feedback__item {
      width: 90%;
      height: 210px;
      margin: 0 auto;
      margin-bottom: 24px;
  }

  .feedback__content {
      height: 110px;
  }

  .bottom-background {
      display: none;
  }

  .news {
      flex-direction: column;
  }

  .news__item {
      max-width: 100%;
      margin: 0 auto 24px;
  }

  .slider__text{
      font-size: 1.1rem;
  }

  .topbar__item-link {
      font-size: 1.1em;
      padding: 8px;
  }

  .topbar__list {
      padding-left: 0;
      margin: 10px auto;
  }

  /* News */
  .title-long {
      font-size: 32px;
  }

  .news-title-container {
      text-align: left;
  }

  .three-items-on-row,
  .two-items-on-row {
      flex-direction: column;
  }

  .three-items-on-row img,
  .two-items-on-row img {
      width: 100%;
      height: auto;
  }

  .three-items-on-row p,
  .two-items-on-row p {
      width: 100%;
  }

  .sm-w-90 {
      width: 90%;
      margin: 0 auto;
  }

  .title-main {
      font-size: 40px;
  }

  .title-sub {
      font-size: 24px;
  }

  .news-content-container {
      padding: 20px 24px;
  }
  /* End News */

  /* Get Help */
  .section-container {
      padding: 24px 28px;
      border: none;
  }

  .section-list {
      display: flex;
      flex-direction: column;
  }

  .section {
      width: 100%;
      padding: 0 8px 0 0;
      margin: 12px 0;
  }

  .modal-content {
      width: 80%;
      max-width: 80%;
  }

  .btn-send-fb {
      margin-top: 40px;
      margin-bottom: 16px;
  }
  /* End Get Help */
}
